
.icon-info-1:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-chart:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-chart-pie:before { content: '\e803'; } /* '' */